<div class="line">
  <div class="cell"><h2>{{cart.name}}</h2></div>
</div>
{{#each lineItem in cart.lineItems}}
  {{#draggable-item lineItemID=lineItem.id}}
    {{line-item lineItem=lineItem}}
  {{/draggable-item}}
{{/each}}
<div class="cart-total">Total: {{cart.total}}</div>
<button {{action "closeCart"}}>Pay Now</button>
