<div class="line">
  <div class="cell">
    <h2>
      {{#if cart.isCheck}}
        Check
      {{else}}
        Your cart
      {{/if}}
    </h2>
  </div>
</div>
{{#each lineItem in lineItems}}
  {{line-item lineItem=lineItem}}
{{/each}}
<div class="cart-total">Total: {{cart.total}}</div>
{{#unless cart.isCheck}}
  <button {{action "payNow"}}>Pay Now</button>
{{/unless}}
