{{#draggable-item content=lineItem.id}}
  <div class="cell">{{lineItem.qty}}</div>
  <div class="cell">{{lineItem.item.name}}</div>
  <div class="cell">{{lineItem.item.price}}</div>
  <div class="cell">{{extendedPrice}}</div>
{{/draggable-item}}
