<div class="cell quantity">{{lineItem.qty}}</div>
<div class="cell">{{lineItem.name}}</div>
<div class="cell">{{money-display lineItem.price}}</div>
<div class="cell">{{money-display lineItem.extendedPrice}}</div>
