$red: #E54028;

*, *:before, *:after {
  overflow: auto;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  padding: 10px;
  border: 0;
  border-radius: 0;
  color: #FFF;
  background-color: $red;
}

.is-hidden {
  display: none;
}
