$red: #E54028;
$white: #FAFAFB;
$black: #2C2C2C;

*, *:before, *:after {
  overflow: auto;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica neue, sans-serif;
  background-color: $black;
}

button {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  color: #FFF;
  background-color: $red;
}

.is-hidden {
  display: none;
}
