.row {
  overflow: hidden;
}
.cart {
  margin: 10px 0;
  padding: 2em;
  background-color: $white;
  border-radius: 10px;
}

.cart-total {
  float: right;
  padding: 1em;
  background-color: $black;
  border-radius: 10px;
  color: $white;
}
