<section>
  {{#each}}
    {{#draggable-dropzone}}
      {{cart-obj cart=this lineItems=lineItems}}
    {{/draggable-dropzone}}
  {{/each}}
  {{!-- <button {{action "addCart"}}>New Guest</button> --}}
</section>
