<section>
  {{#each}}
    {{#draggable-dropzone cart=this moveItem='moveItem'}}
      {{#if this.isCurrent}}
        {{cart-obj cart=this lineItems=lineItems action="closeCart" cartObject=this}}
      {{/if}}
    {{/draggable-dropzone}}
  {{/each}}
  {{!-- <button {{action "addCart"}}>New Guest</button> --}}
</section>
