<section>
  {{#each}}
    {{#draggable-dropzone cart=this moveItem='moveItem'}}
      {{cart-obj cart=this}}
    {{/draggable-dropzone}}
  {{/each}}
  <button {{action "addCart"}}>New Guest</button>
</section>
